body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
.content{
    position: absolute;
    top: 80px;
    width: 100%;
    text-align: center;
}
.logo{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin: auto;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: #FE0000;
    cursor: pointer;
}

.boximage{
    width: 140px;
    height: 200px;
    float: left;
    border-radius: 5px;
    margin-right: 10px;
}

.searchresult{
    width: 30%;
    box-sizing: border-box;
    border: 1px solid rgb(198, 54, 54);
    border-radius: 3px;
    background-color: #FFFFFF;
    font-weight: 19px;
    font-family: 'Poppins', sans-serif;
    color: black;
    margin: 2% 52%;
    padding: 8px;
    padding-right: 100px;   
}

.lgfont{
    color: coral;
    font-family: 'Poppins', sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}